<%- include ('./boostrap') %>

<link href="/public/css/heroes.css" rel="stylesheet">
<body>
  <div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto mb-4"
      src="/public/img/BG.png"
      alt=""
      width="350"
      height="350"
    />
    <h1 class="display-5 fw-bold">Bienvenue</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Site réalisé pour le module JS Front et Back End
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/users/register"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">
          S'enregistrer / Register
        </button></a>
        <a href="/users/login"><button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Se connecter / Login
        </button></a>
      </div>
    </div>
  </div>
</body>
